
    <div  style="min-height:70vh;">
        <h4 class="lightweight center-align"
            style="padding:10px;">Join Our Slack Community</h4>
        <div class="input-field col s10 offset-s1">
            <input type="email"
                   class="input-primary"
                   placeholder="Email">
        </div>
        <div class="input-field col s10 offset-s1">
            <input type="submit"
                   class="btn right bg-accent text-primary"
                   value="Join">
        </div>
        <div class="col s10 offset-s1">
            <p>We will send you an invite to join our great slack community where you can talk with other Stamplayers, and get help!</p>
        </div>
    </div>
