<div class="row">
    <div class="col s9">
        <div class="row"
             style="margin-bottom:0;">
            <div class="input-field col s3"
                 id="search-bar">
                <i class="material-icons prefix input-primary">search</i>
                <input type="text"
                       placeholder="Search Questions"
                       class="input-primary"
                       ng-change="searchQuestions()"
                       ng-model-options="{ debounce: 1000 }"
                       ng-model="question_query" />
            </div>

            <a class="waves-effect waves-light btn bg-secondary right"
               ui-sref="New Request"
               ng-show="currentUser">
                <i class="material-icons right">mode_edit</i>New Question
            </a>
        </div>


        <!--  -->
        <!-- Recent Questions -->
        <!--  -->
        <div class="row"
             ng-hide="question_query">
             <div ng-show="noResults" class="center-align grey-text">No Questions Have Been Posted Yet<span ng-if="!currentUser">, Sign In To Post a Question</span></div>
            <div style="min-height:70vh">
                <ul class="collection"
                    style="border:none;">
                    <li class="collection-item avatar cursor"
                        ng-repeat="question in questionCollection | orderBy : dt_create : true"
                        ui-sref="Question Details({id : question.instance._id})">
                        <img ng-src="{{question.instance.owner.profileImg}}"
                             class="circle">
                        <a class="secondary-content text-secondary">
                            <span class='upvote'>{{question.instance.solution_id[0].actions.votes.users_upvote.length - question.instance.solution_id[0].actions.votes.users_downvote.length}}</span>
                            <i class="material-icons">thumb_up</i>
                        </a>
                        <p class="title col s11 truncate"
                           style="cursor:pointer;">{{question.instance.title}}</p>
                        <p class="grey-text lightweight truncate col s11"
                           ng-bind-html="question.instance.body"
                           style="max-height:22px">
                       </p>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->
        <!-- Recent Questions END -->
        <!--  -->

        <!--  -->
        <!-- QUERY QUESTIONS --->
        <!--  -->
        <div class="row" ng-show="question_query.length">
            <div ng-show="noSearchResults" class="center-align grey-text">No results found matching, <b>{{question_query}}</b>. Please try another search.</div>
            <div style="min-height:70vh">
                <ul class="collection" style="border:none;">
                    <li class="collection-item avatar" ng-repeat="question in searchResults" ui-sref="Question Details({id : question._id})">
                        <p class="title truncate col s11"
                           ng-bind-html="question._highlightResult.title.value"
                           style="cursor:pointer">
                        </p>
                        <div class="grey-text lightweight truncate col s11">
                            <div ng-bind="htmlToPlaintext(question._highlightResult.body.value)"></div>
                       </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <!--  -->
        <!-- QUERY QUESTIONS End -->
        <!--  -->
    <div class="col s3"
         ng-include="'./dist/templates/_slack_invite.html'"
         style="position:fixed;right:0;">
    </div>
</div>
<div class="progress bg-primary"
     ng-hide="questionCollection"
     style="position:fixed;bottom:-15px;left:0">
    <div class="indeterminate bg-accent"></div>
</div>
