<div class="row">
    <div class="col s9">
        <div class="row" style="margin-bottom:0;">
            <div class="input-field col s3" id="search-bar">
                <i class="material-icons prefix input-primary">search</i>
                <input type="text" placeholder="Search Questions" class="input-primary">
            </div>
            <a class="waves-effect waves-light btn bg-secondary right" ui-sref="New Request" ng-show="currentUser">
                <i class="material-icons right">mode_edit</i>New Question
            </a>
        </div>
        <div class="row">
            <div style="min-height:70vh">
                <!-- Recent Questions! -->
                <ul class="collection" style="border:none;">
                    <li class="collection-item avatar" ng-repeat="question in questionCollection">
                        <img src="{{question.instance.owner.profileImg}}" alt="" class="circle">
                        <a href="#!" class="secondary-content">
                            <span class="flow-text">{{question.instance.actions.votes.total}}</span>
                            <i class="material-icons">thumb_up</i></a>
                        <span class="title">{{question.instance.title}}</span>
                        <p>{{question.instance.body}}
                        </p>

                    </li>
                </ul>
                <div class="progress bg-primary" ng-if="!questionCollection" style="position:fixed;bottom:-15px;left:0">
                    <div class="indeterminate bg-accent"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="col s3">
        <div  style="min-height:70vh;">
            <h4 class="lightweight center-align" style=" padding:10px;">Join Our Slack Community</h4>
            <div class="input-field col s10 offset-s1">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-field col s10 offset-s1">
                <input type="submit" class="btn right bg-accent text-primary" value="Join">
            </div>
            <div class="col s10 offset-s1">
                <p>We will send you an invite to join our great slack community where you can talk with other Stamplayers, and get help!</p>
            </div>
        </div>
    </div>
</div>
